<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular Course</title>
</head>
<body>
  

  <h1>Hello World, Welcome to : <span>{{title}}</span> </h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius possimus in similique architecto quod nulla, illo incidunt perspiciatis, veritatis, excepturi fugit ea blanditiis. Unde maiores molestias dolore fuga incidunt culpa.
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sequi facilis veritatis unde nesciunt saepe soluta, velit excepturi, eum ducimus illo amet ipsum odit sunt vel ratione laudantium. Ducimus, tempora! Illo, maiores! Nostrum, sunt quidem?</p>
  <p highlight>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae magnam accusamus velit earum numquam officiis, sequi pariatur perspiciatis repudiandae aperiam, sint delectus possimus nam, deleniti cum quia? Veritatis ducimus, quisquam consequuntur modi excepturi repudiandae iusto eligendi soluta. Veritatis ratione dignissimos, vel doloribus, itaque a voluptas necessitatibus excepturi quia, consectetur eveniet.
  </p>

</body>
</html>